<Configuration status="ERROR">
    <Properties>
        <property name="pattern_console">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] - %m%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{5}- %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <RollingFile name="FileRolling" filename="logs/output.log" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd-HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileRolling"/>
        </Root>
    </Loggers>
</Configuration>